<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itlg.client">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".ItlgApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.activity.NewsInfoDetailActivity" />
        <activity android:name=".ui.activity.FrontDetailFarmActivity" />
        <activity android:name=".ui.activity.ProductDetailActivity" />
        <activity android:name=".ui.activity.MyDetailFarmsActivity" />
        <activity android:name=".ui.activity.MyCartDetailActivity" />
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.FarmDetailActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity
            android:name=".ui.activity.OperatorActivity"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.NormalUserActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" /> <!-- 调整二维码扫描界面方向为"完全依赖传感器" -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_path" />
        </provider>
    </application>

</manifest>